.message {
  display: flex;
  align-items: center;
  padding: 2rem;
  color: white;

  &__info {
    margin-left: 2rem;
  }

  &__timestamp {
    color: gray;
    margin-left: 2rem;
    font-size: x-small;
  }
}
