.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #2f3135;
    color: white;
    border-bottom: 0.3rem solid #26282c;
  }

  &__channels {
    flex: 1;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-color: #2f3135;
      color: gray;
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__addChannel {
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  &__voice,
  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    padding: 1rem;
    border-top: 0.1rem solid gray;

    &-icon {
      color: #4fb185;
    }

    &-info {
      flex: 1;
      padding: 1rem;

      & h3 {
        color: #4fb185;
      }

      & p {
        font-size: smaller;
      }
    }

    &-icons > .MuiSvgIcon-root {
      padding: 1rem;
    }
  }

  &__profile {
    &-info {
      flex: 1;
      padding: 1rem;

      & h3 {
        color: white;
      }
    }
  }
}
