.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #2f3135;
    color: white;
    border-bottom: 0.3rem solid #26282c;
  }

  &__channels {
    flex: 1;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-color: #2f3135;
      color: gray;
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__addChannel {
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}
